system.builder.command.Doxygen=C:\\Program Files\\doxygen\\bin\\doxygen.exe 
system.builder.command.DupFinder=C:\\Program Files\\Resharper CLT\\dupfinder.exe
system.builder.command.MS\ XSL\ Transformer=C:\\Program Files\\ReSharper CLT\\msxsl.exe
system.builder.command.MSDeploy=C:\\Program Files\\IIS\\Microsoft Web Deploy V3\\msdeploy.exe
system.git.executable=C:\\Program Files\\Git\\cmd\\git.exe
