system.builder.command.Ansible\ Playbook=/usr/local/bin/ansible-playbook
system.builder.ant.Ant=/usr/share/ant
system.builder.command.Composer=/usr/local/bin/composer
system.builder.command.Lessc=/usr/bin/lessc
system.builder.mvn2.Maven\ 2=/usr/share/maven2
system.builder.command.NPM=/usr/bin/npm
system.builder.node.Node.js=/usr/bin/nodejs
system.builder.command.PHP=/usr/bin/php
system.builder.command.Phing=/usr/local/bin/phing
system.builder.command.Pylint=/usr/local/bin/pylint
system.builder.command.TAR=/bin/tar
system.git.executable=/usr/bin/git
system.docker.executable=/usr/bin/docker