#!/usr/bin/env sh

chmod -R {{ file_chmod }} /var/www/html/var/cache /var/www/html/var/logs
chown -R www-data:www-data /var/www/html/var/cache && chown -R www-data:www-data /var/www/html/var/logs

exec php-fpm
