user nginx;
worker_processes 4;

error_log   /var/log/nginx/error.log warn;
pid         /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile           on;
    keepalive_timeout  65;

    server {
        listen 80;
        server_name {{ site.api }};
        index index.php;

	charset utf-8;
        root /var/www/web;
        error_log /var/log/nginx/error.log notice;

        rewrite_log on;

        location / {
            try_files $uri /index.php$is_args$args;
        }

        location ~ \.(js|css|png|jpg|gif|ico)$ {
            access_log off;
            log_not_found off;
            try_files $uri =404;
        }

        location ~ ^/index\.php(/|$) {
            fastcgi_pass {{ upstream_container_current }}:9000;
            fastcgi_read_timeout 60s;

            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param HTTPS off;
        }
    }
}