[general]
persistentmembers=yes
shared_lastcall=yes
updatecdr=no
monitor-type=MixMonitor

[001]
announce-frequency=0
announce-holdtime=no
announce-position=no
autofill=yes
autopause=no
autopausebusy=no
autopauseunavail=no
autopausedelay=0
joinempty=yes
leavewhenempty=yes
maxlen=0
memberdelay=0
penaltymemberslimit=0
periodic-announce-frequency=0
queue-callswaiting=silence/1
queue-thereare=silence/1
queue-youarenext=silence/1
reportholdtime=no
retry=1
ringinuse=no
;servicelevel=15
setinterfacevar=yes
strategy=ringall
;strategy=fewestcalls
timeout=120
timeoutpriority=app
timeoutrestart=yes
weight=0
wrapuptime=0
{% for key, value in sipusers.iteritems() %}
member=SIP/O_O{{ key }}
{% endfor %}