[MySQL]
Description     = MySQL driver for Linux & Win32
Driver          = /usr/lib/x86_64-linux-gnu/odbc/libmyodbc.so
Setup           = /usr/lib/x86_64-linux-gnu/odbc/libodbcmyS.so
FileUsage       = 1

[PostrgeSQL]
Description     = PostgreSQL driver for Linux & Win32
Driver          = /usr/lib/x86_64-linux-gnu/odbc/psqlodbca.so
Setup           = /usr/lib/x86_64-linux-gnu/odbc/libodbcpsqlS.so
FileUsage       = 1

[MySQL ODBC 5.3 Unicode Driver]
Driver=/usr/lib64/libmyodbc5w.so
UsageCount=1

[MySQL ODBC 5.3 ANSI Driver]
Driver=/usr/lib64/libmyodbc5a.so
UsageCount=1

