[asterisk]
Description = MySQL server for asterisk
Trace       = Yes
TraceFile   = /tmp/sql.log 
Driver      = MySQL ODBC 5.3 Unicode Driver
SERVER      = {{ mysql_host }}
USER        = {{ mysql_user }}
PASSWORD    = {{ mysql_pass }}
PORT        = 3306
DATABASE    = {{ mysql_db }}
ReadOnly    = No
